<div class="row animated fadeIn" *ngIf="!cargando">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Quiniela</h3>
                    <select (change)="cambioJornada( $event.target.value )" [(ngModel)]="jornadas._id" name="visitante" class="form-control" required>
                        <option *ngFor="let jornada of jornadas" [value]="jornada._id">
                            {{ jornada.nombre }}
                        </option>
                    </select>
                    <br>
                    <br>
                    <br>
                    <li *ngFor="let partido of partidos">
                            <app-quinierla-card></app-quinierla-card>
                    </li> 
                    



                   
                </div>
            </div>
        </div>
    </div>
    
