<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Partido </h3>
            <br>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form  #f="ngForm" ngNativeValidate (ngSubmit)="guardarPartido(f)">
                        <div class="form-group">
                            Seleccione Equipo Anfitrion
                            <select (change)="cambioEstadio( $event.target.value )" [(ngModel)]="partido.anfitrion" name="anfitrion" class="form-control" required>
                                <option *ngFor="let equipo of equipos" [value]="equipo._id">
                                  {{ equipo.nombre }}
                                </option>
                              </select>
                        </div>

                        <div class="form-group">
                            Seleccione Equipo Visitante
                            <select (change)="cambioEstadioDos( $event.target.value )" [(ngModel)]="partido.visitante" name="visitante" class="form-control" required>
                              <option *ngFor="let equipo of equipos" [value]="equipo._id">
                                {{ equipo.nombre }}
                              </option>
                            </select>
                        </div>


                        <div class="form-group">
                            Seleccione la Jornada
                            <select  [(ngModel)]="partido.jornada" name="jordana" class="form-control" required>
                              <!--<option value="">Seleccione la Jornada</option>-->
                              <option *ngFor="let jordana of jordanas" [value]="jordana._id">
                                {{ jordana.nombre }}
                              </option>
                            </select>
                        </div>


                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                          <i class="fa fa-save"></i>
                          Guardar
                        </button>
                        <a [routerLink]="['/partidos', jornada]" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Equipo Anfitrion</h4>

            <img [src]="equipo.img | imagen:'equipos'" class="rounded img-fluid">
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-body">
                <h4 class="box-title m-b-0">Equipo Visitante</h4>
           
            <img [src]="equipo2.img | imagen:'equipos'" class="rounded img-fluid">
        </div>
    </div>

</div>