
<!--<div class="row animated fadeIn" >
    <div class="col-sm-12">
        <div class="alert alert-warning text-center ">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Cargando Informaci&oacute;n</span>
        </div>
    </div>
</div>-->

<div class="row animated fadeIn" >
    <div class="col-12">
        <div class="card card-body">
                <div class="card-title text-right">
                        <button [routerLink]="['/partido','nuevo', jornada]" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                            <i class="fa fa-plus"></i> Crear Partido
                        </button>
                </div>
                <h3 class="card-title">Partidos</h3>
                <select (change)="cambioJornada( $event.target.value )" [(ngModel)]="jornada" name="jornada" class="form-control " required>
                    <option  [value]="''">Seleccione una jornada</option>
                    <option *ngFor="let jornada of jornadas" [value]="jornada._id">
                        {{ jornada.nombre }}
                    </option>
                </select>
                <br><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Local</th>
                            <th></th>
                            <th>Visitante</th>
                            <th></th>
                            <th>Fecha</th>
                            <th>Estatus</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let partido of partidos">
                            <td>
                              <img [src]="partido.anfitrion?.img | imagen:'equipos'" class="img-50 img-circle pointer">
                            </td>
                            <td>
                                {{partido.anfitrion?.nombre}}
                            </td>
                            <td>
                              <img [src]="partido.visitante?.img | imagen:'equipos'" class="img-50 img-circle pointer">
                            </td>
                            <td>
                                {{partido.visitante?.nombre}}
                            </td>

                            <td>
                                {{partido.fecha | date}}
                            </td>
                            <td>
                                {{partido.estatus}}
                            </td>
                            <td>

                              <button  [routerLink]="['/partido',partido._id, jornada]" class="btn btn-primary">
                                      <i class="fa fa-edit"></i>
                              </button>
                              <button (click)="eliminarPartido(partido)" class="btn btn-danger">
                                  <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>

