
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center ">
            <strong>Cargando</strong>
            <br>

            
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Cargando Informaci&oacute;n</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                        <button [routerLink]="['/partido','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                            <i class="fa fa-plus"> Crear Partido</i>
                        </button>

                </div>
                <h3 class="card-title">Seleccione la Jornada</h3>
                <select (change)="cambioJornada( $event.target.value )" [(ngModel)]="jornadas._id" name="visitante" class="form-control" required>
                    <option *ngFor="let jornada of jornadas" [value]="jornada._id">
                        {{ jornada.nombre }}
                    </option>
                </select>
                <br>
                <br>
                <br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Anfitri&oacute;n</th>
                            <th></th>
                            <th>Visitante</th>
                            <th></th>
                            <th>Fecha</th>
                            <th>Estatus</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let partido of partidos">
                            <th>
                                {{partido.anfitrion?.nombre}}
                            </th>
                            <th>
                                <img [src]="partido.anfitrion?.img | imagen:'equipos'" class="img-50 img-circle pointer">
                            </th>
                            <th>
                                {{partido.visitante?.nombre}}
                            </th>
                            <th>
                                <img [src]="partido.visitante?.img | imagen:'equipos'" class="img-50 img-circle pointer">
                            </th>
                            <th>
                                {{partido.fecha | date}}
                            </th>
                            <th>
                                {{partido.estatus}}
                            </th>
                            <th>

                            <button  [routerLink]="['/partido',partido._id]" class="btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                </button>
                             <button (click)="eliminarPartido(partido)" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                            </button></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

