<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Partido </h3>
            <br>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form  #f="ngForm" ngNativeValidate (ngSubmit)="guardarPartido(f)">

                        <div class="col-md-6">
                            <div class="form-group">
                                Seleccione Equipo Anfitrion
                                <th>
                                    <input [(ngModel)]="jornada.nombre" name="nombre" type="text" class="form-control"  placeholder="Nombre de la Jornada " required>
                                </th>
                            </div>
    
                            <div class="form-group">
                                Seleccione Equipo Visitante
                                <input [(ngModel)]="jornada.nombreCorto" name="nombrec" type="text" class="form-control"  placeholder="Nombre Cortor de la Jornada " required>
                            </div>
    
    
                            <div class="form-group">
                                Seleccione la Jornada
                                <select  id="estadio" class="form-control custom-select" name="estadio"  >
                                    <option ></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                Seleccione la Jornada
                                <select  id="estadio" class="form-control custom-select" name="estadio"  >
                                    <option ></option>
                                </select>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                        <a routerLink="/jornadas" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
