

<div class="col-md-4">
    <div class="card bg-light mb-3 ">
        <div class="card-body"  align="center">
            <h4  class="card-title">Partido ALGO</h4>
            <div class="row">
                <div class="col-6">
                    <img class="card-img-top img-responsive" src="../assets/images/big/img1.jpg" alt="Card image cap">
                    <br>
                    <br>
                    Equipo UNO
                    <br>
                    <input type="number" min="0" max="30" class="form-control" id="pronosticoAnfitrion" placeholder="Goles local" required>
                </div>
                <div class="col-6">
                    <img class="card-img-top img-responsive" src="../assets/images/big/img1.jpg" alt="Card image cap">
                    <br>
                    <br>
                    Equipo DOS
                    <br>
                    <input  type="number" min="0" max="30" class="form-control" id="pronosticoAnfitrion" placeholder="Goles local" required>
                </div>
            </div>
            <br>
            <a  href="#" class="btn btn-primary">Enviar Pronostico</a>
        </div>
    </div>
</div>
